.page-content-3 {
    margin-top: 50px;
    background: linear-gradient(135deg, #E0F7FA, #B2EBF2);
    min-width:100vw;
    min-height:100vh;
  }
  
  .heading{
    color:#000;
    font-weight: bold;
    text-align: center;
  }
  
  .label-text {
    color: rgb(196, 68, 196);
    font-weight: bold;
    text-align:left;
  }
  
  .btn {
    margin-top: 10px;
    border-radius: 5px;
    float:left;
    
  }
  
  
  .alert {
    margin-top: 20px;
  }
  
 
  
 
  