 img {
    display: block;
   margin:0 auto;
    height:700px;
    width:100vw;
  }
  
  
  body {
    font-family: Times New Roman, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: lightgrey;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0;
    background-color: #f1f1f1;
    text-align: center;
    
  }

  .about {
    background-color: #f1f1f1;
    padding: 20px 50px;
    margin:0 auto;
    
  }
  
  
 
  .info {
    font-size:20px;
    font-weight:bolder;
    text-align:left;
    color:navy;
    margin:20px 50px;
  }
  
  .footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
  }
  
  .footer a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
  }
  
  
  
  